<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">

  <div class="row mb-2 mt-2 text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h2>Sunshine Shop Management Portal</h2>
    </div>
    <div class="col-md-4">

    </div>
  </div>

  <nav class="navbar navbar-expand-md breadcrumb">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="nav nav-pills">
        <a class="nav-item nav-link active ml-1" data-toggle="tab" href="#users">
          <i class="fa fa-users"></i>
          All Users
        </a>
        <a [hidden]="!isAdmin" class="nav-item nav-link ml-3" data-toggle="tab" href="#view-products">
          <i class="fab fa-product-hunt"></i>
          Products
        </a>
        <a class="nav-item nav-link mr-5" data-toggle="tab" href="#profile" style="position: relative; left: 660px;">
          <i class="fas fa-info"></i> My Info
        </a>

        <button (click)="onLogOut()" class="btn2 btn-info nav-item nav-link move-right">
          <span>Logout</span>
          <i class="fas fa-sign-out-alt"></i>
        </button>

      </div>
    </div>
  </nav>




  <!-- main content -->
  <div class="tab-content mt-3" id="myTabContent">
    <!-- user table -->
    <div class="tab-pane fade show active" id="users">
      <div class="mb-3 float-left">
        <div class="btn-group mr-2">
          <button [hidden]="!isAdmin" type="button" class="btn-info ml-lg-4" data-toggle="modal"
            data-target="#addUserModal">
            <i class="fa fa-plus"></i>Add User
          </button>

          <form class="form-inline my-2 my-lg-0 ml-lg-5 justify-content-center">
            <input name="searchTerm" #searchInput="ngModel" class="form-control ml]r-sm-2" ngModel
              (ngModelChange)="searchUsers(searchInput.value)" type="search" placeholder="Search">
            <!-- ngmodelchange fire the function when search box change -->
          </form>
        </div>
        <div class="btn-group">
          <button type="button" (click)="getUsers(true)" class="btn2 btn-info">
            <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i><i *ngIf="!refreshing" class="fas fa-sync"></i>
          </button>
        </div>
      </div>
      <table class="table table-hover">
        <thead class="table-borderless">
          <tr class="text-center">
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Status</th>
            <th>Edit/Delete</th>
          </tr>
        </thead>
        <tbody *ngFor="let appUser of users">
          <tr class="text-center">
            <td (click)="onSelectUser(appUser)">{{appUser?.username}}</td>
            <td (click)="onSelectUser(appUser)">{{appUser?.userEmail}}</td>
            <td (click)="onSelectUser(appUser)">{{appUser?.userFirstName}}</td>
            <td (click)="onSelectUser(appUser)">{{appUser?.userLastName}}</td>
            <td (click)="onSelectUser(appUser)">
              <span [hidden]="!appUser?.active" class="badge badge-success">Active</span>
              <span [hidden]="appUser?.active" class="badge badge-danger">Inactive</span>

              <span [hidden]="!appUser?.nonLocked" class="badge badge-success">Unlocked</span>
              <span [hidden]="appUser?.nonLocked" class="badge badge-danger">Locked</span>
            </td>
            <td class="">
              <div class="btn-group">
                <button *ngIf="appUser.role.substring(5) != 'GENERAL_MANAGER'" class="btn2 btn-info"
                  (click)="onEditUser(appUser)"><i class="fas fa-edit"></i></button>
                <span>&nbsp;&nbsp;</span>
                <button *ngIf="isManager && appUser.role.substring(5) != 'GENERAL_MANAGER'" class="btn2 btn-info"
                  (click)="onDeleteUder(appUser?.id)"><i class="fas fa-trash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <button [hidden]="true" type="button" id="openUserInfo" data-toggle="modal" data-target="#viewUserModal">
    </button>
    <button [hidden]="true" type="button" id="openUserEdit" data-toggle="modal" data-target="#editUserModal">
    </button>

    <!-- user profile -->
    <div class="tab-pane fade" id="profile">
      <div class="container">
        <div class="row flex-lg-nowrap">
          <div class="col">
            <div class="row">
              <div class="col mb-3">
                <div class="card">
                  <div class="card-body">
                    <div class="e-profile">
                      <div class="row">
                        <div class="col-12 col-sm-auto">
                        </div>
                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                          <div class="text-center text-sm-left mb-2 mb-sm-0">
                            <h1 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user?.userFirstName}} {{user?.userLastName}}
                            </h1>
                            <p class="mb-0">{{user?.username}}</p>
                            <h5 class="mb-0">{{user?.role.substring(5)}}</h5>
                            <div class="text-muted"><small>Since {{user?.joinDate | date:'mediumDate'}}</small></div>
                            <div *ngIf="user?.lastLoginDateDisplay !== null" class="text-muted"><small>Last login:
                                {{user?.lastLoginDateDisplay | date:'medium'}}</small></div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-content pt-3">
                        <div class="tab-pane active">
                          <form #profileUserForm="ngForm" (ngSubmit)="onUpdateCurrentUser(profileUserForm.value)"
                            class="form" novalidate>
                            <div class="row">
                              <div class="col">
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>First Name</label>
                                      <input type="text" name="userFirstName" required [(ngModel)]="user.userFirstName"
                                        class="form-control">
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Last Name</label>
                                      <input type="text" name="userLastName" required [(ngModel)]="user.userLastName"
                                        class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Username</label>
                                      <input type="text" name="username" required [(ngModel)]="user.username"
                                        class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Email</label>
                                      <input type="text" name="userEmail" required [(ngModel)]="user.userEmail"
                                        class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col mb-3">
                                    <div class="form-group">
                                      <label *ngIf="isManager">Role</label>
                                      <select name="role" *ngIf="isManager" required [(ngModel)]="user.role"
                                        class="form-control">
                                        <option value="ROLE_CUSTOMER">CUSTOMER</option>
                                        <option value="ROLE_CASHIER">CASHIER</option>
                                        <option value="ROLE_SHOP_MANAGER">SHOP_MANAGER</option>
                                        <option value="ROLE_GENERAL_MANAGER">GENERAL_MANAGER</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col d-flex justify-content-end">
                                <button class="btn2 btn-primary" type="submit">Save</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  user modal data -->
    <div class="modal fade bd-example-modal-lg" id="viewUserModal" tabindex="-1" role="dialog" aria-labelledby=""
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between">
                      <div class="text-center text-sm-left mb-sm-0">
                        <h1 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{selectedUser?.userFirstName}}
                          {{selectedUser?.userLastName}}</h1>
                        <div class="text-center text-sm-left">
                          <div class="text-muted"><small>Since {{selectedUser?.joinDate | date: 'mediumDate'}}</small>
                          </div>
                        </div>
                        <p class="mb-1">{{selectedUser?.username}}</p>
                        <div class="">Status:
                          <span [hidden]="!selectedUser?.active" class="badge badge-success">Active</span>
                          <span [hidden]="selectedUser?.active" class="badge badge-danger">Inactive</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"></li>
                  <li class="list-group-item"><i class="fa fa-envelope float-right"
                      style="color: grey;"></i>{{selectedUser?.userEmail}}
                  </li>
                  <li class="list-group-item"><i class="fas fa-user-tag float-right"
                      style="color: grey;"></i>{{selectedUser?.role.substring(5)}}
                  <li *ngIf="selectedUser?.lastLoginDateDisplay" class="list-group-item"><i
                      class="fas fa-calendar-alt float-right"
                      style="color: grey;"></i>{{selectedUser?.lastLoginDateDisplay | date: 'medium'}}
                  </li>
                  <li class="list-group-item">
                    <span [hidden]="selectedUser?.nonLocked">
                      <i class="fas fa-lock float-right" style="color: red;"></i>
                      User Locked
                    </span>
                    <span [hidden]="!selectedUser?.nonLocked">
                      <i class="fas fa-unlock float-right" style="color: green;"></i>
                      User Unlocked
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn2 btn-info" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- model add user -->
    <div class="modal draggable fade bd-example-modal-lg" id="addUserModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <form #newUserForm="ngForm" (ngSubmit)="onAddNewUser(newUserForm)">
                <div class="form-group">
                  <label for="userFirstName">First Name</label>
                  <input type="text" name="userFirstName" required ngModel class="form-control">
                </div>
                <div class="form-group">
                  <label for="userLastName">Last Name</label>
                  <input type="text" name="userLastName" required ngModel class="form-control">
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" required ngModel class="form-control">
                </div>
                <div class="form-group">
                  <label for="userEmail">Email</label>
                  <input type="email" name="userEmail" required ngModel class="form-control">
                </div>
                <div *ngIf="isManager" class="form-group">
                  <label for="role">Role</label>
                  <select name="role" required ngModel="ROLE_USER" class="form-control">
                    <option value="ROLE_CUSTOMER">CUSTOMER</option>
                    <option value="ROLE_CASHIER">CASHIER</option>
                    <option value="ROLE_SHOP_MANAGER">SHOP_MANAGER</option>
                    <option value="ROLE_GENERAL_MANAGER">GENERAL_MANAGER</option>
                  </select>
                </div>
                <div *ngIf="!isAdmin" class="form-group">
                  <label for="authority">Role</label>
                  <input type="text" name="role" required ngModel="USER" readonly class="form-control">
                </div>
                <fieldset class="form-group">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" name="active" ngModel class="form-check-input">
                      Acitve
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" name="nonLocked" ngModel class="form-check-input">
                      Unlocked
                    </label>
                  </div>
                </fieldset>
                <button type="submit" style="display: none;" id="new-user-save"></button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn2 btn-secondary" data-dismiss="modal" id="new-user-close">Close</button>
            <button type="button" (click)="saveNewUser()" [disabled]="newUserForm.invalid"
              class="btn2 btn-info">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal edit user -->
    <div class="modal draggable fade bd-example-modal-lg" id="editUserModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="">
              <form #editUserForm="ngForm">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" name="firstName" [disabled]="!isAdmin" required [(ngModel)]="editUser.userLastName"
                    class="form-control">
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" name="lastName" [disabled]="!isAdmin" required [(ngModel)]="editUser.userLastName"
                    class="form-control">
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" [disabled]="!isAdmin" required [(ngModel)]="editUser.username"
                    class="form-control">
                  <!-- banana in box, two way binding, something in template will automatically upate the actual component or viceversa  -->
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" [disabled]="!isAdmin" required [(ngModel)]="editUser.userEmail"
                    class="form-control">
                </div>
                <div class="form-group">
                  <label for="authority">Role</label>
                  <select name="role" [disabled]="!isManager" required [(ngModel)]="editUser.role" class="form-control">
                    <option value="ROLE_CUSTOMER">CUSTOMER</option>
                    <option value="ROLE_CASHIER">CASHIER</option>
                    <option value="ROLE_SHOP_MANAGER">SHOP_MANAGER</option>
                    <option value="ROLE_GENERAL_MANAGER">GENERAL_MANAGER</option>
                  </select>
                </div>
                <fieldset class="form-group">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input name="active" type="checkbox" [hidden]="!isAdmin" [(ngModel)]="editUser.active"
                        class="form-check-input">
                      <div [hidden]="!isAdmin">Acitve</div>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input name="locked" type="checkbox" [hidden]="!isAdmin" [(ngModel)]="editUser.nonLocked"
                        class="form-check-input">
                    </label>
                    <div [hidden]="!isAdmin">Unlocked</div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn2 btn-info" data-dismiss="modal"
              id="closeEditUserModalButton">Close</button>
            <button type="button" (click)="onUpdateUser()" [disabled]="editUserForm.invalid || !isAdmin"
              class="btn2 btn-info">Save</button>
          </div>
        </div>
      </div>
    </div>









    <!-- now do the product part -->

    <div [hidden]="!isAdmin" class="tab-pane fade" id="view-products">
      <div class="tab-content mt-3" id="myTabContent">
        <!-- user table -->
        <div class="tab-pane fade show active" id="users">
          <table class="table table-hover">
            <thead class="table-borderless">
              <tr class="text-center">
                <th>Image</th>
                <th>Name</th>
                <th>Title</th>
                <th>Price</th>
                <th>Status</th>
                <th>Edit/Delete</th>
              </tr>
            </thead>
            <tbody *ngFor="let product of products">
              <tr class="text-center">
                <td (click)="onSelectProduct(product)"><img src="{{product?.productImageUrl}}" class="img-responsive"
                    width="150px" /> </td>
                <td (click)="onSelectProduct(product)">{{product?.productName}}</td>
                <td (click)="onSelectProduct(product)">{{product?.productTitle}}</td>
                <td (click)="onSelectProduct(product)">{{product?.productDiscountPrice | currency: 'USD'}}</td>
                <td (click)="onSelectProduct(product)">
                  <span [hidden]="!product?.productActive" class="badge badge-success">Active</span>
                  <span [hidden]="product?.productActive" class="badge badge-danger">Inactive</span>
                </td>
                <td class="">
                  <div class="btn-group">
                    <button *ngIf="isAdmin" class="btn2 btn-info" (click)="onEditProduct(product)"><i
                        class="fas fa-edit"></i></button>
                    <span>&nbsp;&nbsp;</span>
                    <button *ngIf="isAdmin" class="btn2 btn-info" (click)="onDeleteProduct(product?.id)"><i
                        class="fas fa-trash"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>



      <!-- pagination area -->
      <br>
      <div class="footer-pagination">
        <div class="row">

          <br>
          <div class="row">
            <div id="pagination-format">
              <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize" [collectionSize]="totalElements"
                (pageChange)="listProducts()">
              </ngb-pagination>

            </div>

            <div class="mt-2" style="text-align: center;">
              <span class="mr-2 size-select">Page Size</span>

              <select (change)="updatePageSize($event.target.value)">
                <option selected="true">6</option>
                <option>12</option>
                <option>18</option>
                <option>24</option>
              </select>
            </div>
          </div>
        </div>
      </div>

    </div>

    <button [hidden]="true" type="button" id="openProductInfo" data-toggle="modal" data-target="#viewProductModal">
    </button>
    <button [hidden]="true" type="button" id="openProductEdit" data-toggle="modal" data-target="#editProductModal">
    </button>


    <!-- Product profile -->
    <div class="tab-pane fade" id="product">
      <div class="container">
        <div class="row flex-lg-nowrap">
          <div class="col">
            <div class="row">
              <div class="col mb-3">
                <div class="card">
                  <div class="card-body">
                    <div class="e-profile">
                      <div class="row">
                        <div class="col-12 col-sm-auto">
                        </div>
                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                          <div class="text-center text-sm-left mb-2 mb-sm-0">
                            <h1 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{product?.productName}}
                            </h1>
                            <p class="mb-0">{{product?.productTitle}}</p>
                            <h4 class="mb-0">{{product?.productPrice | currency: 'USD'}}</h4>
                            <div class="text-muted"><small>Added on
                                {{product?.productCreateDate | date:'mediumDate'}}</small></div>
                            <div *ngIf="product?.productLastDate !== null" class="text-muted"><small>Last Upate
                                {{product?.productLastDate | date:'medium'}}</small></div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-content pt-3">
                        <div class="tab-pane active">
                          <form #profileProductForm="ngForm" (ngSubmit)="onUpdateCurrentUser(profileUserForm.value)"
                            class="form" novalidate>
                            <div class="row">
                              <div class="col">
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>First Name</label>
                                      <input type="text" name="userFirstName" required [(ngModel)]="user.userFirstName"
                                        class="form-control">
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Last Name</label>
                                      <input type="text" name="userLastName" required [(ngModel)]="user.userLastName"
                                        class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Username</label>
                                      <input type="text" name="username" required [(ngModel)]="user.username"
                                        class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Email</label>
                                      <input type="text" name="userEmail" required [(ngModel)]="user.userEmail"
                                        class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col mb-3">
                                    <div class="form-group">
                                      <label *ngIf="isManager">Role</label>
                                      <select name="role" *ngIf="isManager" required [(ngModel)]="user.role"
                                        class="form-control">
                                        <option value="ROLE_CUSTOMER">CUSTOMER</option>
                                        <option value="ROLE_CASHIER">CASHIER</option>
                                        <option value="ROLE_SHOP_MANAGER">SHOP_MANAGER</option>
                                        <option value="ROLE_GENERAL_MANAGER">GENERAL_MANAGER</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col d-flex justify-content-end">
                                <button class="btn2 btn-primary" type="submit">Save</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--  product modal data -->
    <div class="modal fade bd-example-modal-lg" id="viewProductModal" tabindex="-1" role="dialog" aria-labelledby=""
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between">
                      <div class="text-center text-sm-left mb-sm-0">
                        <h1 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{selectedProduct?.productName}}</h1>
                        <div class="text-center text-sm-left">
                          <div class="text-muted"><small>Added On
                              {{selectedProduct?.productCreateDate | date: 'mediumDate'}}</small>
                          </div>
                        </div>

                        <div class="text-center text-sm-left">
                          <div class="text-muted"><small>Update On
                              {{selectedProduct?.productLastDate | date: 'mediumDate'}}</small>
                          </div>
                        </div>

                        <p class="mb-1">{{selectedUser?.username}}</p>
                        <div class="">Status:
                          <span [hidden]="!selectedProduct?.productActive" class="badge badge-success">Active</span>
                          <span [hidden]="selectedProduct?.productActive" class="badge badge-danger">Inactive</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"></li>
                  <li class="list-group-item">
                    Current Price: {{selectedProduct?.productDiscountPrice | currency: 'USD'}}
                  </li>
                  <li class="list-group-item">
                    Original Price: {{selectedProduct?.productPrice | currency: 'USD'}}
                  </li>
                  <li class="list-group-item">
                    Product Category: Fresh Produce (need to fix)
                  </li>
                  <li class="list-group-item">
                    Product Subcategory: Vegetable (need to fix)
                  </li>
                  <li [hidden]="!selectedProduct?.productRecommend" class="list-group-item">Recommend Product
                  <li [hidden]="!selectedProduct?.productBestSell" class="list-group-item">Best Selling Product
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn2 btn-info" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



        <!-- modal edit product -->
      <div class="modal draggable fade bd-example-modal-lg" id="editProductModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="">
                <form #editProductForm="ngForm">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" [disabled]="!isAdmin" required [(ngModel)]="editUser.userLastName"
                      class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" [disabled]="!isAdmin" required [(ngModel)]="editUser.userLastName"
                      class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" [disabled]="!isAdmin" required [(ngModel)]="editUser.username"
                      class="form-control">
                    <!-- banana in box, two way binding, something in template will automatically upate the actual component or viceversa  -->
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" [disabled]="!isAdmin" required [(ngModel)]="editUser.userEmail"
                      class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="authority">Role</label>
                    <select name="role" [disabled]="!isManager" required [(ngModel)]="editUser.role" class="form-control">
                      <option value="ROLE_CUSTOMER">CUSTOMER</option>
                      <option value="ROLE_CASHIER">CASHIER</option>
                      <option value="ROLE_SHOP_MANAGER">SHOP_MANAGER</option>
                      <option value="ROLE_GENERAL_MANAGER">GENERAL_MANAGER</option>
                    </select>
                  </div>
                </form>
              </div>
            </div>

            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Profile Picture </span>
              </div>
              <div class="custom-file">
                <input type="file" accept="image/*" name="profileImage"
                  (change)="onProfileImageChange($event.target.files[0].name, $event.target.files[0])"
                  class="custom-file-input">
                <label class="custom-file-label"><span [hidden]="!fileName">{{fileName}}</span>
                  <span [hidden]="fileName">Choose File</span>
                </label>
              </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn2 btn-info" data-dismiss="modal"
                id="closeEditUserModalButton">Close</button>
              <button type="button" (click)="onUpdateProduct()" [disabled]="editProductForm.invalid || !isAdmin"
                class="btn2 btn-info">Save</button>
            </div>
          </div>
        </div>
      </div>

