
<section>
    <h1 class="category-header">{{subCategoryTitle}}</h1>
    <div class="main-content content">
        <div class="section-content section-content-p30">
            <div class="product-block">
                <div class="row">
                    <div *ngFor="let product of subCategoryProducts" class="col-md-2">
                        <div class="product-box">
                            <img src= "{{product.product_image_url}}"
                                class="img-responsive outline">
                            <h4>{{ product.product_name }}</h4>
                            <div class="price">{{ product.product_price  | currency:'USD' }}</div>
                            <a href="#" class="btn btn-default-icon">
                                <span><i class="material-icons" style="font-size:18px">favorite_border</i></span>
                            </a>
                            <a href="#" class="add-cart btn-default">
                                <span>Add to Cart</span>
                            </a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
