<section>
    <h1 class="category-header">{{subCategoryTitle}}</h1>
    <div class="main-content content">
        <div class="section-content section-content-p30">
            <div class="product-block">
                <div class="row">
                    <div *ngFor="let product of subCategoryProducts" class="col-md-2">
                        <div class="product-box">
                            <a routerLink="/products/{{ product.id }}">
                                <img src="{{product.productImageUrl}}" class="img-responsive outline">
                            </a>
                            <a routerLink="/products/{{ product.id }}">
                                <h4>{{ product.productName }}</h4>
                            </a>
                            <div class="price">{{ product.productPrice  | currency:'USD' }}</div>
                            <a href="#" class="btn btn-default-icon">
                                <span><i class="material-icons" style="font-size:18px">favorite_border</i></span>
                            </a>
                            <a href="#" class="add-cart btn-default">
                                <span>Add to Cart</span>
                            </a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6">
                </div>
                    <div class="col-md-6">
                        <br>
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 63%">
        
                                <ngb-pagination [(page)] = "pageNumber"
                                                [pageSize] = "pageSize"
                                                [collectionSize] = "totalElements"
                                                (pageChange) = "listSubProducts()">
                                </ngb-pagination>
        
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>


        </div>
    </div>
</section>