.btn-fullwidth {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom:1em;
}

.btn {
    text-shadow: none;
    font-size: 9pt;
    padding: 0px 0px 0.8px 0px;
    height: 36px;
    line-height: 35px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0.2em;
    background-color: #FF6534;;
    margin-left: 4em;
    color: white;
    /* text-align: center; */
}

.btn:hover {
    background-color: #f13d01;
    color: white;
}

.mr-1 {
    color: #f13d01;
}