
.container-fluid {
    padding-left: 0ex;
    padding-right: 0px;
}

.nav-item {
    padding-left: 1em;
    padding-right: 1em;
}
.nav-content{
    margin-left: 6.8em;
}

nav .navbar-nav li a{
    color: white;
}

.navbar-brand {
    margin-left: 6.9em;
}

.img-fluid {
    max-width: 50%;
    height: auto;
}

.icon {
    position: relative;
    left: -8px !important; 
}

/* search button */
.ml-n5, .mx-n5 {
    margin-left: -2.3rem!important;
}

/* associate bar */
.associate-bar {
    padding-top: 2.5em;
    margin-top: 4.81em;
    height: 1.0em;
    /* width: 100%; */
    text-align: left;
    vertical-align: middle;
    background-color:#fb5a0f;
    list-style-type: none;
}

.navbar-hover > li {
    display: inline-block;
    text-align:center; 
    margin-bottom: 2em;
}

#first-one:hover {
    display: inline-block;
    text-align:center; 
    margin-bottom: 2em;
    background-color:rgb(232, 74, 6);
}

.navbar-hover > li > a:hover{
    background-color:rgb(232, 74, 6);
}

#first-one {
    margin-left: 5.0em;
}

.input-group-text {
    border:0px solid transparent;
}



/* for login in pop window */

h1 {
    margin: .5em 0 .5em;
    font-weight: 600;
    /* line-height: 1.5em; */
    -webkit-column-span: all;
    column-span: all;
    color: #484848;
}

.btn-90_width {
    display: block;
    width: 90%;
    text-align: center;
    margin-bottom:1em;
}

.btn {
    text-shadow: none;
    font-size: 9pt;
    padding: 0px 0px 0.8px 0px;
    height: 36px;
    line-height: 35px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0.2em;
}

.btn:hover {
    background-color: #f13d01;
    color: white;
}

.icon {
    color: black;
}