<section id="footer">
    <div class="new-container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <h3>About Sunshine</h3>
                <ul class="footer-list">
                    <li><a href="#" target="_blank">The Company</a></li>
                    <li><a href="#">Store Finder</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <h3>Contact Us</h3>
                <ul class="footer-list">
                    <li>Sunshine Wholesale Mart Sdn. Bhd. (148802-X)</li>
                    <li><i class="material-icons">phone</i> 604-643 4900</li>
                    <li><i class="material-icons">email</i> <a href="mailto:ecomm@suiwah.com.my">ecomm@suiwah.com.my</a>
                    </li>
                    <li><i class="material-icons">access_time</i> Monday to Friday, 9am - 6pm</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <h3>Helpdesk</h3>
                <ul class="footer-list">
                    <li><a href="#">Return &amp; Exchange</a></li>
                    <li><a href="#">Delivery Service</a></li>
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">Feedback &amp; Enquiries</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Announcement </a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix">
            <hr>
        </div>
        <div class="row footer-content">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3"><img src="../../../../assets/footer/delivery_truck.jpg"
                            class="rounded-circle img-fluid Max-width 20%"></div>
                    <div class="col-sm-9">
                        <p>At Sunshine we have our very own fleet of delivery vans. Your order will be packed with care
                            at our warehouse and delivered right to your door by our friendly Sunshine team.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!--h3 class="text-center">We accept following payment method</h3-->
                <div class="payment-methods">
                    <img src="../../../../assets/footer/bank-icon/OP-m2u.png">
                    <img src="../../../../assets/footer/bank-icon/m2e_logo.png">
                    <img src="../../../../assets/footer/bank-icon/meps-fpx.png">
                    <img src="../../../../assets/footer/bank-icon/Hong-Leong-Connect-Logo.png">
                    <img src="../../../../assets/footer/bank-icon/public-bank.png">
                    <img src="../../../../assets/footer/bank-icon/rhb.png">
                    <img src="../../../../assets/footer/bank-icon/cimb-1.png">
                    <img src="../../../../assets/footer/bank-icon/Bank-Islam-LOGO.png">
                </div>
            </div>
        </div>
        <div class="clearfix">
            <hr>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/sunshinegroup" target="_blank"><i
                                class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-12 copyright">
                © Copyright 2017 by Sunshine Wholesale Mart Sdn. Bhd. (148802-X). All rights reserved.
            </div>
        </div>
    </div>
</section>