<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div id="left" class="col-md-5">
                        <div formGroupName="customer" class="form-area col-md-12">
                            <h2>Step 2: Delivery & Billing <br>
                                <small>Select your delivery method and billing address. Shipping cost will be added into
                                    the payment details if applicable.
                                </small></h2>
                            <h3>Customer Information</h3>
                            <div class="row">
                                <div class="col-md-2"><label>First Name</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <input formControlName="firstName" type="text">
                                        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="firstName.errors.required
                                            || firstName.errors.spaceCheck">
                                                Please enter your first name
                                            </div>

                                            <div *ngIf="firstName.errors.minlength">
                                                Please enter more than one character
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"><label>Last Name</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <input formControlName="lastName" type="text">
                                        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="lastName.errors.required 
                                            || lastName.errors.spaceCheck">
                                                Please enter your last name
                                            </div>

                                            <div *ngIf="lastName.errors.minlength">
                                                Please enter more than one character
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"><label>Email</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <input formControlName="email" type="text">
                                        <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="email.errors.required">
                                                Please enter the email address
                                            </div>

                                            <div *ngIf="email.errors.pattern">
                                                Please enter the valid email address
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"><label>Phone</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <input formControlName="phone" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div formGroupName="shippingAddress" class="form-area col-md-12">
                            <h3>Delivery Address</h3>
                            <div class="row">
                                <div class="col-md-2"><label>Address</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <input formControlName="address" type="text">
                                    </div>
                                    <div *ngIf="shippingAddressAddress.invalid && (shippingAddressAddress.dirty || shippingAddressAddress.touched)"
                                        class="alert alert-danger mt-1">
                                        <div *ngIf="shippingAddressAddress.errors.required">
                                            Please enter your address
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"><label>Postcode</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <input formControlName="postcode" type="text">
                                    </div>
                                    <div *ngIf="shippingAddressPostcode.invalid && (shippingAddressPostcode.dirty || shippingAddressPostcode.touched)"
                                        class="alert alert-danger mt-1">
                                        <div *ngIf="shippingAddressPostcode.errors.required">
                                            Please enter your postcode
                                        </div>
                                        <div *ngIf="shippingAddressPostcode.errors.minlength">
                                            Please enter more than five character
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-2"><label>Country</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <select formControlName="country" (change)="getStates('shippingAddress')">
                                            <option *ngFor="let country of countries" [ngValue]="country">
                                                {{country.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="shippingAddressCountry.errors.required">
                                                Please enter your country
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"><label>State</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <select formControlName="state" (change)="getCities('shippingAddress')">
                                            <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                                {{state.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="shippingAddressState.errors.required">
                                                Please enter your state
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"><label>City</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <select formControlName="city">
                                            <option *ngFor="let city of shippingAddressCities" [ngValue]="city">
                                                {{city.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="shippingAddressCity.errors.required">
                                                Please enter your city
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Add check box to copy shipping to billing -->
                            <div class="copy-checkbox">
                                <label class="au-checkbox">
                                    <input type="checkbox" (change)="copyShippingToBilling($event)">
                                    <span class="au-checkmark"></span> Billing Address same as Shipping Address
                                </label>
                            </div>
                        </div>
                    </div>




                    <div id="right" class="col-md-5">

                        <div formGroupName="billingAddress" class="form-area col-md-12">
                            <h3>Billing Address</h3>
                            <div class="row">
                                <div class="col-md-2"><label>Address</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <input formControlName="address" type="text">
                                        <div *ngIf="billingAddressAddress.invalid && (billingAddressAddress.dirty || billingAddressAddress.touched)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="billingAddressAddress.errors.required">
                                                Please enter your Address
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"><label>Postcode</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <input formControlName="postcode" type="text">
                                        <div *ngIf="billingAddressPostcode.invalid && (billingAddressPostcode.dirty || billingAddressPostcode.touched)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="billingAddressPostcode.errors.required">
                                                Please enter your postcode
                                            </div>
                                            <div *ngIf="billingAddressPostcode.errors.minlength">
                                                Please enter more than five character
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"><label>Country</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <select formControlName="country" (change)="getStates('billingAddress')">
                                            <option *ngFor="let country of countries" [ngValue]="country">
                                                {{country.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="billingAddressCountry.errors.required">
                                                Please enter your country
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"><label>State</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <select formControlName="state">
                                            <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                                {{state.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="billingAddressState.errors.required">
                                                Please enter your state
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="row">
                                <div class="col-md-2"><label>City</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <select formControlName="city">
                                            <option *ngFor="let city of billingAddressCities" [ngValue]="city">
                                                {{city.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="billingAddressCity.errors.required">
                                                Please enter your city
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

 




                        </div>


                        <!-- Credit Card -->
                        <div formGroupName="creditCard" class="form-area payment col-md-12">
                            <h3>Credit Card</h3>
                            <div class="row">
                                <div class="col-md-2"> <label>Card Type</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <select formControlName="cardType">
                                            <option>Visa</option>
                                            <option>Mastercard</option>
                                            <option>Discover</option>
                                            <option>American Express</option>
                                        </select>

                                        <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="creditCardType.errors.required">
                                                Please enter your credit card type
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"> <label>Name on Card</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <input formControlName="nameOnCard" type="text">
                                    </div>
                                    <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)"
                                        class="alert alert-danger mt-1">
                                        <div *ngIf="creditCardNameOnCard.errors.required">
                                            Please enter your name on credit card
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"> <label>Card Number</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <input formControlName="cardNumber" type="text">
                                    </div>

                                    <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)"
                                        class="alert alert-danger mt-1">
                                        <div *ngIf="creditCardNumber.errors.required">
                                            Please enter your name on credit card
                                        </div>
                                        <div *ngIf="creditCardNumber.errors.pattern">
                                            Please enter valid credit card
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"> <label>Security Code</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <input formControlName="securityCode" type="text">
                                    </div>
                                    <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)"
                                        class="alert alert-danger mt-1">
                                        <div *ngIf="creditCardSecurityCode.errors.required">
                                            Please enter your name on credit card
                                        </div>
                                        <div *ngIf="creditCardSecurityCode.errors.pattern">
                                            Please enter valid security code
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"> <label>Expiration Month</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <select formControlName="expirationMonth">
                                            <option *ngFor="let month of creditCardMonths">{{month}}</option>
                                        </select>
                                        <div *ngIf="creditCardExpirationMonth.invalid && (creditCardExpirationMonth.dirty)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="creditCardExpirationMonth.errors.required">
                                                Please enter your credit card expiration month
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"> <label>Expiration Year</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <select formControlName="expirationYear" (change)="startFromOne()">
                                            <option *ngFor="let year of creditCardYears">{{year}}</option>
                                        </select>
                                        <div *ngIf="creditCardExpirationYear.invalid && (creditCardExpirationYear.dirty)"
                                            class="alert alert-danger mt-1">
                                            <div *ngIf="creditCardExpirationYear.errors.required">
                                                Please enter your credit card expiration year
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-area col-md-10">
                    <div class="review">
                        <h3>Order Review</h3>
                        <p>Total Quantity: {{ totalQuanity }}</p>
                        <p>Total Price: {{ totalPrice | currency: 'USD'}}</p>
                    </div>
                </div>

                <div class="btn">
                    <button type="submit" class="btn-default-icon3">Continue</button>
                </div>
            </form>


        </div>
    </div>
</div>