/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  background-color: #f8f7f4;
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  line-height: 1.5em;
  color: #333;
  padding: 0;
  margin: 0;
}
.btn-default {
    background: #FF6534;
    border-color: #FF6534;
    position: relative;
    vertical-align: middle;
    min-width: 114px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #FF6534;
    border-radius: 4px;
    overflow: hidden;
  }

  .btn {
    text-shadow: none;
    font-size: 9pt;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    line-height: 35px;
    font-size: 12px;
    font-weight: 400;
  }

.new-container {
    margin: 0 auto;
    max-width: 1150px;
    padding-left: 15px;
    padding-right: 15px;
}

.page-container {
    padding: 1em 0 2em;
    min-height: 400px;
}


