<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4><span><a routerLink="/category/1" outerLinkActive="active">
                Fresh Produce</a></span></h4>
            <div class="row">
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/1" outerLinkActive="active">Vegetables</a>
                </div>
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/2" outerLinkActive="active">Fruits</a>
                </div>
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/3" outerLinkActive="active">Meats</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <h4><span><a routerLink="/category/2" outerLinkActive="active">Dairy &amp; Chilled</a></span></h4>
            <div class="row">
                <div class="col-md-6 item">
                    <a routerLink="/category/sub/4" outerLinkActive="active">Cheese</a>
                </div>
                <div class="col-md-6 item">
                    <a routerLink="/category/sub/5" outerLinkActive="active">Yogurt</a>
                </div>
                <br><br>
                <div class="col-md-6 item">
                    <a routerLink="/category/sub/6" outerLinkActive="active">Milk , Butter & Egg</a>
                </div>
                <div class="col-md-6 item">
                    <a routerLink="/category/sub/7" outerLinkActive="active">Other</a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <h4><span><a routerLink="/category/3" outerLinkActive="active">Barkery</a></span></h4>
            <div class="row">
                <div class="col-md-6 item">
                    <a routerLink="/category/sub/8" outerLinkActive="active">Bread</a>
                </div>
                <div class="col-md-6 item">
                    <a routerLink="/category/sub/9" outerLinkActive="active">Cake</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4><span><a routerLink="/category/4" outerLinkActive="active">Frozen</a></span></h4>
            <div class="row">
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/10" outerLinkActive="active">Convenience Food</a>
                </div>
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/11" outerLinkActive="active">Seafood</a>
                </div>
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/12" outerLinkActive="active">Vegetarian</a>
                </div>
                <br><br>
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/13" outerLinkActive="active">Ice-Cream</a>
                </div>
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/14" outerLinkActive="active">Meat</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h4><span><a routerLink="/category/5" outerLinkActive="active">Beverage</a></span></h4>
            <div class="row">
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/15" outerLinkActive="active">Tea</a>
                </div>
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/16" outerLinkActive="active">Coffee</a>
                </div>
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/17" outerLinkActive="active">Juice</a>
                </div>
                <br><br>
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/18" outerLinkActive="active">Soy Milk</a>
                </div>
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/19" outerLinkActive="active">Mineral / Drinking water</a>
                </div>
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/20" outerLinkActive="active">Soft Drink</a>
                </div>
                <br><br>
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/21" outerLinkActive="active">Oat & Cereal</a>
                </div>
                <div class="col-md-4 item">
                    <a routerLink="/category/sub/22" outerLinkActive="active">Chocolate Drink</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
