.container {
    margin-top: 6.5em;
}
a {
    background-color: transparent;
}
span a {
    padding: 0 15px 0 0;
    color: #ef5411;
    margin: 0.8em 0;
    font-size: 120%;
    font-weight: 500;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

span a:hover {
    font-size: 125%;
    color: #ef5411;
    font-weight: 1000;
}

h4 {
    color:#ef5411;
}

h4:after {
content: "";
display: inline-block;
width: 100%;
margin: 0 .5em 0 0;
vertical-align: middle;
border-bottom: 1.3px solid;
}

h4:after {
    margin: 0 0 0 .5em;
}
span {
    display: inline-block;
}

.item a {
    line-height: 1em;
    font-size: 11pt;
    margin-bottom: 5px;
    color: #525252;
    text-decoration: none;
}

.item a:hover {
    font-weight: 1000;
}