<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4><span><a routerLink="fresh-product">Fresh Produce</a></span></h4>
            <div class="row">
                <div class="col-md-4 item">
                    <a href="#">Vegetables</a>
                </div>
                <div class="col-md-4 item">
                    <a href="#">Fruits</a>
                </div>
                <div class="col-md-4 item">
                    <a href="#">Meats</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <h4><span><a href="/#">Dairy &amp; Chilled</a></span></h4>
            <div class="row">
                <div class="col-md-6 item">
                    <a href="#">Cheese</a>
                </div>
                <div class="col-md-6 item">
                    <a href="#">Yogurt</a>
                </div>
                <br><br>
                <div class="col-md-6 item">
                    <a href="#">Vegetables</a>
                </div>
                <div class="col-md-6 item">
                    <a href="#">Milk , Butter & Egg</a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <h4><span><a href="/fresh-produce">Barkery</a></span></h4>
            <div class="row">
                <div class="col-md-6 item">
                    <a href="#">Bread</a>
                </div>
                <div class="col-md-6 item">
                    <a href="#">Cake</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4><span><a href="/dairy-chilled">Frozen</a></span></h4>
            <div class="row">
                <div class="col-md-4 item">
                    <a href="#">Convenience Food</a>
                </div>
                <div class="col-md-4 item">
                    <a href="#">Seafood</a>
                </div>
                <div class="col-md-4 item">
                    <a href="#">Vegetarian</a>
                </div>
                <br><br>
                <div class="col-md-4 item">
                    <a href="#">Ice-Cream</a>
                </div>
                <div class="col-md-4 item">
                    <a href="#">Meat</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h4><span><a href="/beverage">Beverage</a></span></h4>
            <div class="row">
                <div class="col-md-4 item">
                    <a href="#">Tea</a>
                </div>
                <div class="col-md-4 item">
                    <a href="#">Coffee</a>
                </div>
                <div class="col-md-4 item">
                    <a href="#">Juice</a>
                </div>
                <br><br>
                <div class="col-md-4 item">
                    <a href="#">Soy Milk</a>
                </div>
                <div class="col-md-4 item">
                    <a href="#">Mineral / Drinking water</a>
                </div>
                <div class="col-md-4 item">
                    <a href="#">Soft Drink</a>
                </div>
                <br><br>
                <div class="col-md-4 item">
                    <a href="#">Oat & Cereal</a>
                </div>
                <div class="col-md-4 item">
                    <a href="#">Chocolate Drink</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
