<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h1>Sunshine Shop Management System</h1>
    </div>

    <!-- Login Form -->
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
      <input type="text" id="login" class="fadeIn second" name="userEmail" placeholder="email"  ngModel #userEmailInput = "ngModel" required>
      <input type="password" id="password" class="fadeIn third" name="userPassword" placeholder="password" ngModel #userPasswordInput = "ngModel" required>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a routerLink="/admin/register" routerLinkActive="active" class="underlineHover">Don't have an account? Sign Up</a>
      <br>
      <a routerLink="/admin/forgetPassword" routerLinkActive="active" class="underlineHover">Forgot your account? Reset it</a>
    </div>

  </div>
</div>
