<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h1>Sunshine Shop Management System</h1>
    </div>

    <!-- forgot Form -->
    <form #forgetForm="ngForm" (ngSubmit)="onResetPassword(forgetForm)">
      <input type="email" id="login" class="fadeIn second" name="reset-password-email" placeholder="email you want reset"  ngModel #userEmailInput = "ngModel" required>
      <input type="submit" class="fadeIn fourth" value="Reset Password">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a routerLink="/admin/login" routerLinkActive="active" class="underlineHover">Successfully reset? Login</a>
    </div>

  </div>
</div>
