
.content { 
  margin: 16px; 
}


a h4 {
  font-size: 10pt;
  margin-top: 0.6em;
  height: 30px;
  overflow: hidden;
  margin: .5em 0 .5em;
  font-weight: 600;
  column-span: all;
  color: #484848;
}

a {
  text-decoration: none;
}
.btn-default-icon {
  line-height: 0.2em;
  background: #FF6534;
  border-color: #FF6534;
  position: relative;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #FF6534;
  border-radius: 4px;
  overflow: hidden;
}

.btn-default-icon:hover {
  background-color: #f13d01;
}

.add-cart {
  text-shadow: none;
  font-size: 9pt;
  padding: 5.6px 8px;
  display: inline;
  min-width: 100px;
  font-size: 12px;
  font-weight: 400;
  margin-left: 1.8em;
  text-decoration: none;
  border: none;
  outline:none;
}

.add-cart:hover {
  background-color: #f13d01;
  color: #fff;
}

.category-header {
  color: #e64600;
  padding: 5px 0 0;
  text-transform: uppercase;
  margin: 0em 0em 0em 8.3em;
  padding: 6px 0 2px, 0;
  font-size: 137%;
  font-weight: 400;
}

.outline:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

img {
  display: inline;
  height: 200px;
  width: 95.3%;
  margin-right: 1em;
}

.product-block{
  background-color: #fff;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 1.2%;
  padding-top: 2%;
  padding-right: 0.7%;
}


.price {
  color: #313131;
  font-weight: 700;
  margin-bottom: 10px;
}

#NotFound {
  width: 300px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#NotFoundText{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  line-height: 1.5em;
  color: #333;
}

#keyword {
  color: #f13d01;
}

.size-select {
  margin-right: 3em;
}

#pagination-format {
  display: block;
  margin-left: 45em;
  margin-right: auto;
}


/* .content > mat-card { 
  width: 200px; 
} */

/* .content {
  margin-left: 11.3em;
} */

/* .my-1 {
    width: 12em;
    height: 23em;
    margin: 0em 7em 0em 7em;
} */
