<section>
    <h1 class="category-header">{{categoryTitle}}</h1>
    <div class="main-content content">
        <div class="section-content section-content-p30">
            <div class="product-block">
                <div class="row">
                    <div *ngFor="let product of products" class="col-md-2">
                        <div class="product-box">

                            <a id="link" routerLink="/products/{{ product.id }}">
                                <img src="{{product.productImageUrl}}" class="img-responsive outline">
                            </a>

                            <a id="link" routerLink="/products/{{ product.id }}">
                                <h4>{{ product.productName }}</h4>
                            </a>

                            <div class="price">{{ product.productPrice  | currency:'USD' }}</div>
                            <a href="#" class="btn btn-default-icon">
                                <span><i class="material-icons" style="font-size:18px">favorite_border</i></span>
                            </a>
                            <button (click)="addToCart(product)" class="add-cart btn-default">
                                <span>Add to Cart</span>
                            </button>
                        </div>
                        <br>
                    </div>

                    <!-- no product search results -->
                    <div *ngIf="products?.length == 0">
                        <div id="NotFoundText">
                            There are no search results for <span id="keyword">'{{keyword}}'</span>.<br><br>
                            Make space between words or use another search word.</div>
                        <img id="NotFound" src="../../../../assets/other/NotFound.png" alt="">
                    </div>
                </div>
            </div>
            <!-- pagination area -->
            <br>
            <div class="footer-pagination">
                <div class="row">

                        <br>
                        <div class="row">
                            <div id="pagination-format" >
                                <ngb-pagination [(page)] = "pageNumber"
                                                [pageSize] = "pageSize"
                                                [collectionSize] = "totalElements"
                                                (pageChange) = "listSubProducts()">
                                </ngb-pagination>

                            </div>

                            <div class="mt-2" style="text-align: left;">
                                <span class="mr-2 size-select">Page Size</span>

                                <select (change)="updatePageSize($event.target.value)">
                                    <option selected="true">6</option>
                                    <option>12</option>
                                    <option>18</option>
                                    <option>24</option>
                                </select>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- <section class="list-container">
    <h1 class="category-header">FRESH VEGETABLES</h1>
    <div class="content" fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="14.8%" fxFlex.md="33.33%" fxFlex.sm="50%" fxFlex.xs="100%"  *ngFor="let product of products">
            <mat-card class="mat-elevation-z4 outline">
                <mat-card-header>
                    <mat-card-title>{{product.product_name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="'https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg'"/>
                <mat-card-content>
                    <p>{{product.product_price | currency:'USD'}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <a href="#" class="btn btn-default-icon">
                        <span><i class="material-icons">favorite_border</i></span>
                    </a>
                    <a href="#" class="add-cart btn-default">
                        <span>Add to Cart</span>
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section> -->